<html>

<head>
    <title>Meu Dinheiro</title>
</head>

<body>
    <h1>Fullstack Academy</h1>
    <img src="images/meu-dinheiro.png">
    <% for(let i=0; i<10; i++) {    %>
    Nome: <%= nome %> <br>
    <% } %>
</body>

</html>